/****************************GENERAL************************************/

*{
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
}
body{
    background: #f9f2f4;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding-top: 80px;
}
/*td{min-width:100px;min-height:20px;border:solid 1px #000;}*/

[type=color], [type=date], [type=datetime-local], [type=datetime], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 2.2rem;
    /* padding: .5rem; */
    border: 1px solid #cacaca;
     margin: 0rem; 
    font-family: inherit;
    font-size: 1rem;
    color: #0a0a0a;
    background-color: #fefefe;
    box-shadow: inset 0 1px 2px hsla(0,0%,4%,.1);
    border-radius: 3px;
    transition: box-shadow .5s,border-color .25s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.button.success {
    margin-top: 4%;
    float: right;
    padding-right: 2%;
    margin-right: 2%;
}
.command{
    text-align: right;
}
h2,h3, h4 {
    text-align: center;
}
h3{
        margin: 2%;
    font-weight: 300;
}

hr {
    border-bottom: 1.5px solid #cacaca;
}

.rambo{
        margin-bottom: 2%;
}
span{
        color: red;
}